@use 'variables' as v;

//Para telefonos
@mixin telefono { //despues de 480px
    @media (min-width: v.$telefono) {
        //Va a inyectar en content las propiedades que le pasemos en el mixin
        @content;
    }
}

//Para tablet
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

//Para desktop
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

//Para desktopXL
@mixin desktopXL {
    @media (min-width: v.$desktopXL) {
        @content;
    }
}

@mixin contenedor { //sirve bastante para centrar
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
/* Este mixin permitira que de forma dinamica le pasemos los parametros y este genere el
grid segun la necesidad, por defecto toma 1 columna y un gap de 5rem*/
@mixin grid($columnas: 1, $gap: 5rem) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $gap;
}

@mixin resetear-lista {
    margin: 0;
    padding: 0;
    list-style: none;
}