@use 'base/variables' as v;
@use 'base/mixins' as m;

.galeria {
    //Las pone en el centro
    @include m.contenedor;

    &-imagenes {
        //hasta 480 muestra 1
        @include m.grid(1, 2rem);

        @include m.telefono {
            @include m.grid(2, 2rem);
        }

        @include m.tablet {
            @include m.grid(3, 2rem);
        }

        @include m.desktop {
            @include m.grid(4, 2rem);
        }
    }

    img {
        height: 20rem;
        object-fit: cover;
    }
}

.modal {
    position: fixed; 
    inset: 0; //ocupa toda la pantalla
    background-color: rgba(v.$negro, 50%);
    display: grid;
    place-items: center; //centrando la imagen
    animation: fadeIn ease-in 0.5s;

    //una vez agregue esta clase va a tener la animacion que lo hara desaparecer
    &.fade-out { 
        animation: fadeOut ease-in 0.5s;
    }

    img {
        max-width: 100rem;
    }
}

.btn-cerrar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: v.$blanco;
    border: none;
    display: grid;
    place-items: center;
    font-weight: 700;
    cursor: pointer;
}

//define una linea de tiempo, animacion en la imagen
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}